{% include 'header.html.twig' %}

{#menu buttons#}
<div class="nav-bar">
    {% include 'common/menu.html.twig' %}
</div>

<h1 class="title">План посадок</h1>

{% for todo in todoList %}
    <div class="modal-item" id="todo_{{ todo.id }}">
        <b class="todo-date">{{ todo.date }}</b> <span class="todo-name">{{ todo.name }}</span>

        <a class="todo-scheme" href="/planning/{{ todo.cell }}">На схеме</a>

        <button class="todo-done" id="done" data-planning-id="{{ todo.id }}">Сделано</button>

        <button class="todo-remove" id="remove" data-planning-id="{{ todo.id }}">Удалить</button>
    </div>
{% endfor %}

<script>
    jQuery( function() {
        $( "[id=done]" ).on( "click", function() {
            let planningId = $(this).data('planning-id');

            $.ajax({
                url: '/todo/'+planningId+'/mark-done',
                type: 'PUT',
                success: function(result) {
                    console.log(result);
                    $('#todo_'+planningId).hide();
                }
            });
        });


        $( "[id=remove]" ).on( "click", function() {
            let planningId = $(this).data('planning-id');

            $.ajax({
                url: '/todo/'+planningId,
                type: 'DELETE',
                success: function(result) {
                    console.log(result);
                    $('#todo_'+planningId).hide();
                }
            });
        });
    } );
</script>
</body>
</html>
