<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Plantify</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        table {
            position: absolute;
            left: 250px;
            top: 100px;
        }
        h2#t {
            position: absolute;
            left: 250px;
            top: 50px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 30px;
        }
        label, input { display:block; }
        select { margin-bottom:12px; width:95%; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        h1 { font-size: 1.2em; margin: .6em 0; }
        .ui-dialog { padding: .3em; }
    </style>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div id="dialog-form" title="Что здесь растет">
    <form>
        <fieldset>
            <label for="plant">Название основной культуры</label>
            <select name="plant" id="plant" class="select text ui-widget-content ui-corner-all">
                {% for plant in plantList %}
                    <option value="{{ plant.id }}">{{ plant.name }}</option>
                {% endfor %}
            </select>

            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div id="combined-form" title="Комбинированные посадки">
    <form>
        <fieldset>
            <div id="combined-suggestion"></div>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div>
<h2 id="t">Схема участка</h2>
<table style="width:1100px">
    {% for i in 0..dimensionY-1 %}
        <tr>
            {% for j in 0..dimensionX-1 %}
                <td id="cell{{ gardenCellList[j][i]['cellId'] }}">
{#                    {{ gardenCellList[j][i]['plantId'] }}#}
                    <img id="edit" data-cellid="{{ gardenCellList[j][i]['cellId'] }}" data-plantId="{{ gardenCellList[j][i]['plantId'] }}" src="./img/edit.svg" alt="edit" height="25px" width="25px"/>
                    <img id="question" data-cellid="{{ gardenCellList[j][i]['cellId'] }}" data-plantId="{{ gardenCellList[j][i]['plantId'] }}" src="./img/q.svg" alt="?" height="25px" width="25px"/>

                    <div>{{ gardenCellList[j][i]['plantName'] }}</div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>



<div>
<button id="combined">Комбинированные посадки</button>
</div>
<form action="/garden/delete" method="post">
    <button id="delete">Удалить</button>
</form>
<div><a href="/">На главную</a></div>

<script>
    jQuery( function() {
        var clickedId;
        var dialog, form, combined;

        function setPlant() {
            $(jQuery( "#"+clickedId )[0]).find('div')[0].innerText = $( "#plant option:selected" ).text();

            let cellId = clickedId.replace('cell','');
            let plantId = $( "#plant option:selected" ).val();

            $.ajax({
                url: '/garden/cell/'+cellId+'/plant/'+plantId,
                type: 'PUT',
                success: function(result) {
                    console.log(result);
                }
            });

            dialog.dialog( "close" );
        }

        function parseCompanionsJson(json) {
            json.forEach(addCombinedSuggestion);

            function addCombinedSuggestion (item) {
                const companionList = item.companionList.join(', ');

                let text = "<div>Для <strong>"+item.plant+"</strong> подходит "+companionList+".</div>";
                $("#combined-suggestion").append(text);
            }
        }

        dialog = jQuery( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                "Сохранить": setPlant,
                Cancel: function() {
                    dialog.dialog( "close" );
                }
            },
            close: function() {
                form[ 0 ].reset();
            }
        });

        combined = jQuery( "#combined-form" ).dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                "Закрыть": function() {
                    combined.dialog( "close" );
                }
            },
            close: function() {
                form[ 0 ].reset();
            }
        });

        form = dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            setPlant();
        });

        jQuery( "[id=edit]" ).on( "click", function() {
            dialog.dialog( "open" );
            console.log($(this).data());
            clickedId = 'cell' + $(this).data().cellid;
        });

        jQuery( "[id=combined]" ).on( "click", function() {

            $.ajax({
                url: '/suggestion/combined/',
                type: 'GET',
                success: function(result) {
                    console.log(result);
                    parseCompanionsJson(result);
                }
            });

            combined.dialog( "open" );
        });

        jQuery( "[id=question]" ).on( "click", function() {
            console.log('question');
        });
    } );
</script>
</body>
</html>
