{% include 'header.html.twig' %}

    <div id="dialog-form" title="Что дальше сажать">
        <form>
            <fieldset>
                    {% for plant in plantList %}
                        <div class="modal-item">
                            <input type="checkbox" id="checked_{{ plant.id }}" name="plant_chb" value="screen" class="checkbox">
                            <label for="checked_{{ plant.id }}" class="label">{{ plant.name }}</label>
{#                            <select name="cell" id="cell_amount_{{ plant.id }}" class="select">#}
{#                                <option value="1">1 грядка</option>#}
{#                                <option value="2">2 грядки</option>#}
{#                                <option value="3">3 грядки</option>#}
{#                                <option value="4">4 грядки</option>#}
{#                                <option value="5">5 грядок</option>#}
{#                                <option value="6">6 грядок</option>#}
{#                                <option value="7">7 грядок</option>#}
{#                                <option value="8">8 грядок</option>#}
{#                                <option value="9">9 грядок</option>#}
{#                                <option value="10">10 грядок</option>#}
{#                            </select>#}
                        </div>
                    {% endfor %}
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    {#desktop nav#}
    {#menu buttons#}
    <div class="nav-bar">
        {% include 'common/menu.html.twig' %}
        <div>
            <button class='nav-bar-item' id="suggestion">Что дальше сажать</button>
        </div>
    </div>

    <h1 class="title">Планирование посадок</h1>

    <div>
        <h2 id="t">Схема участка</h2>
        <table>
            {% for i in 0..dimensionY-1 %}
                <tr>
                    {% for j in 0..dimensionX-1 %}
                        <td id="cell{{ gardenCellList[j][i]['cellId'] }}">
                            <div class="cell-content{{ gardenCellList[j][i]['cellId'] }} cell-content"  {% if gardenCellList[j][i]['cellId'] == cell %} style="border: 4px solid red;"{% endif %}>
                                <h1>{{ gardenCellList[j][i]['plantName'] }}</h1>
                                {% if gardenCellList[j][i]['plannedPlantName'] != '' %}
                                    <h4>(План: {{ gardenCellList[j][i]['plannedPlantName'] }} {{ gardenCellList[j][i]['plannedPlantAt'] }})</h4>
                                {% endif %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{#mobile nav#}
{#    <div class="nav-bar">#}
{#        <div>#}
{#            <button class='nav-bar-item' id="suggestion">Что дальше сажать</button>#}

{#            <a class='nav-bar-item' href="/">На главную</a>#}

{#            <a class="nav-bar-item" href="/todo">To-do лист</a>#}
{#        </div>#}
{#    </div>#}

    <script>
        jQuery( function() {
            var clickedId;
            var dialog, form;

            const priorityColorMap = {
                "4":'green',
                "10":'gray'
            };

            function setPlant() {
                let jsonText = '{ "plantList" : [';
                jQuery( "[name^=plant_chb]:checked ").each(function addCombinedSuggestion (index) {
                    let plantId = $($( this )[0]).attr('id').replace('checked_','');
                    let plantAmount = $("#cell_amount_"+plantId).val() ? $("#cell_amount_"+plantId).val() : 1;

                    jsonText += '{ "plantId":'+plantId+', "plantAmount":'+plantAmount+' },';
                });
                jsonText = jsonText.substring(0,jsonText.length - 1);
                jsonText += ']}';

                $.ajax({
                    url: '/planning',
                    type: 'POST',
                    data: jsonText,
                    success: function(planMap) {
                        // result = '{"map":[{"cellId":172,"plantId":12,,"plantingId":14"plantName":"Укроп","priority":4}]}';
                        var i = 0;
                        planMap.map.forEach(function (item) {
                            let cell = $('.cell-content'+item.cellId);

                            let suggestionColor = priorityColorMap[item.priority];

                            let suggestionKey = item.cellId + '-' + item.plantId + '-' + item.plantingId;

                            cell.append(
                                '<div class="suggestion-item suggestion-div-' + item.cellId + '">' +
                                '<input value="' + item.plantId + '" data-planting-id="'+item.plantingId+'" name="suggestion-radio-' + item.cellId + '" type="radio" id="suggestion-radio-' + suggestionKey+'"/>' +
                                '<label for="suggestion-radio-'+suggestionKey+'" style="color:'+suggestionColor+'">'+item.plantName+'</label>' +
                                '</div>'
                            );
                            i++;
                        });

                        let cellList = [];
                        planMap.map.forEach(function (item) {
                            cellList[item.cellId] = 1;
                        });

                        console.log(cellList);
                        cellList.forEach(function (item, index) {
                            let cell = $('.cell-content'+index);
                            cell.append('<button class="save-btn" id="save-btn-'+index+'" data-cell-id="'+index+'">сохранить</button>');
                        });

                        $( ".save-btn" ).on( "click", saveSuggestion);
                    }
                });

                dialog.dialog( "close" );
            }

            function saveSuggestion() {
                let cellId = $( this ).attr('id').replace('save-btn-','');

                let plantId = $('input[name="suggestion-radio-'+cellId+'"]:checked').val()

                let plantingId = $('input[name="suggestion-radio-'+cellId+'"]:checked').data('planting-id')

                let jsonText = '{ "plantId":'+plantId+', "plantingId":'+plantingId+', "cellId":'+cellId+' }';

                $.ajax({
                    url: '/planning/save',
                    type: 'POST',
                    data: jsonText,
                    success: function(response) {
                        console.log(response)

                        let suggestionKey = cellId + '-' + plantId + '-' + plantingId;

                        let plantName = $('[for="suggestion-radio-'+suggestionKey+'"]').text();

                        // спрятать (План: Томаты 2021-05)
                        $(".suggestion-div-"+cellId).parent().find("h4").hide();

                        // добавить (План: Томаты 2021-05)
                        $(".cell-content"+cellId).append('<h4>(План: '+plantName+')</h4>');

                        // спрятать варианты
                        $(".suggestion-div-"+cellId).hide();

                        // спрятать кнопку
                        $("#save-btn-"+cellId).hide();
                    }
                });
            }

            dialog = jQuery( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 400,
                width: 350,
                modal: true,
                buttons: {
                    "Сохранить": setPlant,
                    Cancel: function() {
                        dialog.dialog( "close" );
                    }
                },
                close: function() {
                    form[ 0 ].reset();
                }
            });

            form = dialog.find( "form" ).on( "submit", function( event ) {
                event.preventDefault();
                setPlant();
            });

            jQuery( "[id=suggestion]" ).on( "click", function() {
                dialog.dialog( "open" );
                clickedId = 'cell' + $(this).data().cellid;
            });


        } );
    </script>
</body>
</html>
