<div>
    <h2 id="t">Схема участка</h2>
    <table>
        {% for i in 0..dimensionY-1 %}
            <tr>
                {% for j in 0..dimensionX-1 %}
                    <td id="cell{{ gardenCellList[j][i]['cellId'] }}">
                        <div class="cell-content{{ gardenCellList[j][i]['cellId'] }} cell-content">
                            <h1>{{ gardenCellList[j][i]['plantName'] }}</h1>
                            {% if gardenCellList[j][i]['plannedPlantName'] != '' %}
                                <h4>(План: {{ gardenCellList[j][i]['plannedPlantName'] }} {{ gardenCellList[j][i]['plannedPlantAt'] }})</h4>
                            {% endif %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
