{% include 'header.html.twig' %}

{# menu buttons #}
<div class="nav-bar">
    {% include 'common/menu.html.twig' %}
</div>

<h1 class="title">История посадок</h1>

<div style="text-align: center;">{% if prev_year %} <a href="/history/{{ prev_year }}"><< {{ prev_year }} ||</a>{% endif %} <span class="title"> {{ date }}</span>{% if next_year %} <a href="/history/{{ next_year }}"> || {{ next_year }} >></a>{% endif %}</div>

<div>
    <h2 id="t">Схема участка</h2>
    <table>
        {% for i in 0..dimensionY-1 %}
            <tr>
                {% for j in 0..dimensionX-1 %}
                    <td>
                        <div class="cell-content">
                            <h1>{{ gardenCellList[j][i]['plantName'] }}</h1>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

{% include 'footer.html.twig' %}
